
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #828282;
    color: #ECF3EC;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #828282;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}

.menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 100;
  }
  
.nav {
    list-style: none;
    padding: 0;
    display: flex;
}
  
.nav-item a {
    position: relative;
    margin: 0 1%;
    padding: 1% 2%;
    font-size: 120%;
    cursor: pointer;
    color: #ECF3EC;
    text-decoration: none;
}
  
.nav-item a:active,
.nav-item a:focus,
.nav-item a:hover {
    outline: none;
    border: none;
    text-decoration: underline;
    color: peachpuff;
}
  
.footer {
    padding: 3%;
}

.footer a {
    padding: 3em;
}