.homePge {
    background-image: url("../assets/images/banner.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 40em;
    margin: 0%;
    color: #ECF3EC;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}